
    body{margin: 0; padding: 0;}
    /************Container***************/
    #container{
        position: relative;
        width: 100%;
        height: 100%;
    }
    /************Menu***************/  
    #menu{
        background-color:  #02043C;
        position: fixed;
        left : 0;
        width: 80px; 
        height: 100%;
        z-index: 1;
    }
    #menulist{margin-top: 130px;margin-left: 20%;} 
    .pad{margin-bottom: 10px;} 
    /************header***************/  
    #header{
        background-color: #333;
        height: 100px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        display: block;
    }
    #profilepics{float: right;margin: 10px 10px;}
    #header span {float: right;padding: 38px 10px 0 10px;}
    .span1 {color :white; padding: 35px 10px 0 10px;margin: 0;}
    #signOut{
        float: right;
        border-radius: 12px;
        color: white;
        background-color: #5A5A5A;
        width: 80px;
        height: 50px;
    }
    
    /********************************/
    /*************Content*************/
    #content{
        position : relative;
        background-color: rgb(225, 225, 225);
        left: 80px;
        top: 100px;
        width:100%;
        float: right;
        height: 552px;
        }   
        
    /****************** Footer **************************/
    #footerDiv {
            position: absolute;
            bottom:0;
            background-color: rgb(10, 10, 10);
            color: #fff;
            font-size: 12px;
            padding: 20px 70px;
            padding-bottom: 10px;
            
        } 
    pre{
        background-color: rgb(10, 10, 10);
        color: #fff;
        margin: 0;
        padding: 0;
        border: none;
    }
    a {
        color: #fff
    }
        
        
        
    /****************Content | Billing page***************/
    #billing{display: none;}
    .title{background-color: #CBCBCC; height: 50px; }
    .title h1{color: #CD721D; padding: 5px 5px 5px 100px; font-weight: bold ;font-size: 2em;}
    button{ 
    height: 60px;
    padding: 0;
    margin: 0;
    }
    #updateButton{
        width: 58%;
    }
    #saveButton{
        width: 20%;
    }
    #clearAllButton{
        width: 20%;
    }
    
    main h3 {
        display: inline;        
        }
    #billCost {
        border-radius: 12px ;
        background-color: #02043C;
        font-size: 20px;
        color: white;
        padding: 4px 10px ;
        vertical-align: top;
        
    }
    .selectFM {
        position: relative;
        left: 90px;
        top: 30px;
         bottom: 20px;
         margin: 20px;
    }
    .totalCost {        
        position: relative;
        left: 200px;
        top: 20px;          
        margin: 20px;
    }
    .totalCost h3 { background-color: #CBCBCC;
    padding: 10px;
    margin: 10px;
    }
    .additional{
        position: relative;
        background-color: #CBCBCC;
        top: 50px;
        left: 150px;
        bottom: 20px;
        width: 50%;
    }

    /***************************************/
    /************ Content | power Consumption page ***********/
    #PowerCons {
        background-color: rgb(225, 225, 225);
        float: left;
    }
    #PowerConsDetail{
        background-color: #C62D0D;
        position: relative;
        width: 300px;
        left: 70px;
        top: 70px;
    }
    #PowerConsDetail h2{ 
        margin: 0;padding: 20px 80px ;
        font-size: 60px;
        color: white;
    }
    #more{
        background-color: gray;
        color: white;
        font-size: 1em;
        padding: 10px 5px;
    }
    #chartContainer{
        float: right;
        
    }
    #more a { text-decoration:none;}    
    /* visited link */
    #more a:visited {color: #333;   }
    /* mouse over link */
    #more a:hover {color: #333;    }

    /**************Body | Home page**************/
    #homepage{display: inline-block;}
    
    #profilePic{position: relative; float: left; width:70% ;height: 300px;display: flex;}
    
    #enviromentinfo{position: relative;float: left; left: 0; display: flex;
    width: 70%;height: 253px;}
    #temp{
        margin: 0;padding: 0; 
        position: relative ;
        top: 50px ; left: 50px;
        width: 160px; height: 170px;
        border-color: #070745;border-style: solid; border-radius: 10px; border-width: 5px;  
        }
    #im{float: left;}   
    #status{margin: 0;padding: 0;
        position: relative;
        background-color:#070745; 
        top: 50px; left: 160px;
        width: 180px; height: 170px;
        border-color: #070745;border-style: solid; border-radius: 10px; border-width: 5px;  
        }
        #status span{float:left;font-size: 25px; padding: 20 px; margin: 33px 0 0 30px ;}
     #status p{padding-left: 10px; }
     #dollar{float: right; margin: 20px;}
    .orange{color: #EDA32F;font-weight: bold ;margin:10px 0;}
    .blue{color: #0C7ACF;padding: 10px 0}
    a.blue{text-decoration: none; }
    /*notification div*/
    #notification{
        position: relative;
        float: right;
        height: 553px;
        width: 30%;
        left: 0;top: 0;
        display: flex;
        background-color: #5A5A5A; 
    }
    
    
    #notification p { float: right; color: #CD721D;width: 100%;height:100px; padding: 1px 1px 1px 100px; font-weight: bold ;font-size: 2em;}
    #notification div{float: right;width: 100%;height:100px}
    /**********************************************/

/******************** Log In Page *******************/
#loginButton{
    width : 100%;
    height : 40px;
}

/******************** Registration Page *******************/
#signUpButton{
    font-size: 18px;
    width : 100%;
    height : 40px;
}
#signUpPanel{
    margin-top: 50px;
}

/****************** Mapping Page *************************/
#devicesMappingText{
    padding-left: 40px;
    background-color: rgb(203, 203, 203);
    /*background-color: rgb(89, 89, 89);*/
    line-height: 50px;
    height: 50px;
    color: #CD721D;
    font-size:  20px;
}

#moveBackButton{
    margin-left: 40px;
    
}
